<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= link_to("<< Back to list", subjects_path, :class => "back-link") %>

      <div class="subjects new">
        <h2>Create Subject</h2>

        <%= form_for(@subject) do |f| %>

            <%= render(:partial => 'form', :locals => {:f => f}) %>

            <%= f.submit("Create Subject", class: "btn btn-primary") %>
        <% end %>

      </div>
    </div>
  </div>
</div>